@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MobiFix</h1>
    <br /><br />

    <h3>Let's Begain</h3>
    <br /><br />
     
  
    <a class="btn btn-outline-primary m-2" asp-controller="FixStatus" asp-action="Index">FixStatus</a>
    <a class="btn btn-outline-primary m-2" asp-controller="PaidStatus" asp-action="Index">PaidStatus</a>
    <a class="btn btn-outline-primary m-2" asp-controller="sales" asp-action="create">New Mobile</a>

</div>
